# Default ignored files
/../../_32Box loading /.idea/shelf/
/../../_32Box loading /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../_32Box loading /.idea/httpRequests/
# Datasource local storage ignored files
/../../_32Box loading /.idea/dataSources/
/../../_32Box loading /.idea/dataSources.local.xml
